<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>home page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/bio.css" %}">
</head>
<body>
	<br><br><br>

<div class='container' align="center" >
<div class="jumbotron" >
  <h1><u><b>Student Bio-Data</b></u></h1>
  <br>
  <h3>Student Name : {{name}}</h3>
  <br>
  <a class="btn btn-primary btn-lg" href="/biodata/ssc/" role="button">SSC</a>
  <a class="btn btn-secondary btn-lg" href="/biodata/puc/" role="button">PUC</a>
  <a class="btn btn-success btn-lg" href="/biodata/degree/" role="button">DEGREE</a>
</div>
</div>
</body>
</html>