<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>home page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}">
</head>
<body>
	<br><br>
  <marquee>Welcome To Study online</marquee>

<div class='container' align="center" >
<div class="jumbotron" >
  <h1><u><b>Study Online</b></u></h1>
  <br>
  <h3>Knowledge is Power</h3>
  <br>
  <a class="btn btn-success btn-lg" href="/display/" role="button">Student Details</a>
</div>
</div>
</body>
</html>