<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>kp details</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/kp.css" %}">
		<style type="">
		body{
			background-image: url('https://static.toiimg.com/img/72891758/Master.jpg');
			background-repeat: no-repeat;
			background-size: 1100px 700px;
			background-position: center;
			background-color: #DCDCDC;
			background-position: right;
			padding-left: 50px;
			color: orange;
		}
	</style>
</head>
<body>
	<h1><u><b>Kings XI Punjab Team</b></u></h1>
	<td><a class="btn btn-success btn-md" href="/teams/" >Home  Page</a></td>
	{% if kp_data %}
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>=
					<th>Country</th>
				</tr>
			</thead>
			{% for data  in kp_data  %}
				<tr>
					<td>{{data.name}}</td>
					<td>{{data.country}}</td>
				</tr>
				
			{% endfor %}
		</table>
	{% else %}
		<h2>No Data Available</h2>
	{% endif %}
</body>
</html>