<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>sh details</title>
	<link rel="stylesheet" type="text/css" href="{% static "css/sh.css" %}">
	<style type="text/css">
		body{
			background-image: url('https://static.toiimg.com/photo/msid-72892441/72892441.jpg');
			background-repeat: no-repeat;
			background-size: 800px 700px;
			background-position: center;
			background-color: #FF7F50;
			background-position: right;
			padding-left: 50px;
			background-position: top;
		}
	</style>
</head>
<body>
	<h1><u><b>Sunrisers Hyderabad Team</b></u></h1>
	<td><a class="btn btn-success btn-md" href="/teams/" >Home  Page</a></td>
	{% if sh_data %}
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>=
					<th>Country</th>
				</tr>
			</thead>
			{% for data  in sh_data  %}
				<tr>
					<td>{{data.name}}</td>
					<td>{{data.country}}</td>
				</tr>
				
			{% endfor %}
		</table>
	{% else %}
		<h2>No Data Available</h2>
	{% endif %}
</body>
</html>