<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-color:lightpink"><br><br><br><br><br>
<div class="container" align="center">
  <div class="jumbotron">
    <h1>Amazon Shopping</h1> <br>
    <a class="btn btn-primary btn-lg" href="/additem/" role="button">Add Item</a>
    <a class="btn btn-primary btn-lg" href="/display/" role="button">Cart</a>       
</div>
</body>
</html>