<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bookmyshow</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style type="text/css">
    #div{

    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">BookmyShow</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/homepage/">Home</a></li>
      <li><a href="/create/">Insert movie Information</a></li>
      <li><a href="/display/">Display movie information</a></li>
    </ul>
    
  </div>
</nav>

{% block body_block %}
<div id="img">



</div>
	
{% endblock body_block %}
</body>
</html>

