
{% extends "bookmyshowapp/base.html" %}
{% block body_block %}
<div align="center">
<h1>Employee Information</h1>
	<table border="2">
		<tr>
			<th>Movie Name</th>
			<th>Hero</th>
			<th>Heroine</th>
			<th>Release Date</th>
			<th>Rating</th>
			<th>Timing</th>
			<th>Director</th>
			<th>Langugae</th>
			<th>Action</th>
		</tr>
		{% for m in movie %}
			<tr>
				<td>{{ m.moviename }}</td>
				<td>{{ m.hero }}</td>
				<td>{{ m.heroine }}</td>
				<td>{{ m.releasedate }}</td>
				<td>{{ m.rating }}</td>
				<td>{{ m.timing }}</td>
				<td>{{ m.director }}</td>
				<td>{{ m.language }}</td>
				<td><a href="/update/{{ m.id }}" class="btn btn-warning">Update</a>  <a href="/delete/{{ m.id }}"class="btn btn-secondary">Delete</a></td>
			</tr>
		{% endfor %}
		
	</table>
	<a href="/homepage/" class="btn btn-success ">Home page</a>
	<a href="/create/" class="btn btn-success ">Insert New Employee</a>
</div>
{% endblock body_block %}