<!DOCTYPE html> {% load static %} <html> <head> <title>homepage</title> <link
rel="stylesheet" type="text/css" href="{% static "css/homepage.css" %}"> <link
rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
crossorigin="anonymous"> <script
src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script> <style type="text/css"> body{
background-image: url('https://lh3.googleusercontent.com/proxy/Wxso_k0xd5-2X9tEvvdfjMuEhap35whi5TalorW3xcblzCuN8wdcbm_pTi7bByed_R22A2UUbR85d1vMR1VPfWUBXO9gMUIOJtkmtrQ2-J6kP3BvQxRqu1o_nGutUVn56z3TpaUZYT_gUx5GFOVQkJA');
 background-repeat: no-repeat; 
 background-size: 100% 270%; 
} 
h1{
	color: orange;
	background-color: black;
}
 </style>
}

</head>
<body><br><br><br> 
	<div  align="center">
		<div >
  			<h1 class="display-4"><u>Welcome to Indian Premier League</u></h1><br>
  			<h3>Mumbai Indians</h3><br>
  
 				<a class="btn btn-secondary btn-lg" href="/addperson/" role="button">Add Person  </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  				<a class="btn btn-secondary btn-lg" href="/display/" role="button">Cricketers List</a>
		</div>
	</div>
</body>
</html>